### Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
 1. Python 
 2. R 
 3. Sql 
 4. Watson

### Some of the commonly used libraries used by Data Scientists include:
    1. pandas
    2. numpy
    3. matplotlib
    4. scipy

|Data Science Tools|
|-------------------|
|anaconda|
|jupeter notebook|
|spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

### This a simple arithmetic expression to mutiply then add integers

In [1]:
x = (3*4)+5
print(x)

17

### This will convert 200 minutes to hours by diving by 60.

In [2]:
x = 200 / 60 
print(x)

3.3333333333333335

**Objectives:**
- python
- R
- hadoop

## Author
  hussain